{
  "presets": [
    ["env", { "targets": { "node": 6 }, "useBuiltIns": true }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "dynamic-import-webpack"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}